<%- include('components/header.ejs') %>
    <h1>
        This is <%= title %>
    </h1>
    <label>All Product Items</label>
    <ul>
        <% products.map( product=> { %>
            <li>
                <%= product.title %>
            </li>
            <% }) %>
    </ul>

    <%- include('components/footer.ejs') %>